@import "bootstrap/bootstrap";

a {
  cursor: pointer !important;
}

.jumbotron {
  margin-top: 20px;
  a {
    display: block;
    text-align: center;
    font-size: 40px;
  }
}

.navbar-brand {
  max-width: none;
}

ul.conferences li {
  margin: 10px 0px;

  .label {
    font-size: 20px;
  }

  .name, .speaker {
    font-size: 18px;
    line-height: 20px;
    vertical-align: middle;
  }

  .name {
    font-weight: bold;
    margin-left: 20px;
  }

  .speaker {
    margin-right: 20px;
  }
}